<app-container-general>

    <div class="d-flex d justify-content-center col-md-10 col-lg-12 px-md-4" main-area>
        <div class=" col-10 pt-3 pb-2 mb-3 border-bottom">

            <div class="card card-user">
                <div class="card-header">

                    <div class="d-flex justify-content-between bd-highlight  ">

                        <div class=" card-title">{{title}}</div> 
                        <div >
                            <button 
                            (click)="toggleMinimizeForm()" 
                            class="btn btn-primary p-0 m-0"
                        >
                            <i class="bi" [ngClass]="isMinimizedForm ? 'bi-plus-square' : 'bi-dash-square'"></i>
                        </button>
                        </div>

                    </div>
                </div>
                
                <section class="form-section" *ngIf="!isMinimizedForm">
                    <div class="card-body ">
                        <ng-content select="[form-page-body]"></ng-content>
                    </div>
                
                    <div class="card-footer bg-transparent border-primary">
                            
                        <div class="row pt-2">
                            <div class="d-flex justify-content-center">
                            
                                    <button class="btn btn-outline-primary btn-round col-3 m-2" [disabled]="disableSaveBtn" (click)="triggerSubmit()">Salvar</button>
                        
                                    <button class="btn btn-outline-secondary btn-round col-3 m-2" (click)="defaultState()">Cancelar</button>
                            
                            </div>
                            
                        </div>
                        
                        <ng-content select="[form-page-footer]">

                            

                        </ng-content>

                    </div>
                    
                </section>

            </div>
            
            <hr *ngIf="this.showList">

            <div *ngIf="this.showList">

                <div class="card card-user">

                    <div class="card-header">
                        
                        <div class="d-flex flex-row bd-highlight  align-items-center">

                            <div class="flex-grow-1  ">{{title}} </div>

                            <div class="me-4 pe-2 ">
                                <form  [formGroup]="pageSearchForm" (submit)="search()" class="d-flex">
                                   
                                    <div class="input-group ">
                                        <input class="form-control " formControlName="search" type="search" placeholder="Buscar" aria-label="Buscar">
                                        <div class="input-group-append">
                                            <button class="btn btn-dark" type="submit">Buscar</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div >
                                <button  (click)="toggleMinimizeList()" class="btn btn-primary p-0 m-0" >
                                    <i class="bi" [ngClass]="isMinimizedList ? 'bi-plus-square' : 'bi-dash-square'"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" *ngIf="!isMinimizedList">

                        <ng-content select="[page-list-body]">
                        </ng-content>
                        
                    </div>

                    <div class="card-footer bg-transparent border-primary" *ngIf="!isMinimizedList">
                        
                        <mat-paginator [length]="totalElements"
                                [pageSize]="pageSize"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                aria-label="Selecionar pagina"
                                (page)="onPaginateChange($event)"
                                >
                        </mat-paginator>

                    </div>
                </div>

            </div>

        </div>
    </div>

</app-container-general>