<app-default-page-layout 
title="Status" 
[pageForm]="statusForm" path="status" 
(setList)="setList($event)" 
[disableSaveBtn]="!statusForm.valid"
>
                   
    <section form-page-body>

        <form [formGroup]="statusForm" class="ng-untouched ng-pristine ng-valid">
            
            <div class="row">

                <mat-form-field appearance="outline" class="col-md-4 pr-1">
                    <mat-label>Nome</mat-label>
                    <input formControlName="name"  matInput placeholder="">
                    <mat-icon matSuffix>person_pin</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline"  class="col-md-4 pr-1">
                  <mat-label>Contabilizar Tempo</mat-label>
                  <select matNativeControl required formControlName="timer">
                    <option [value]="true">Sim</option>
                    <option [value]="false">Não</option>
                  </select>
                </mat-form-field>
                
            </div>
            
        </form>

    </section>

    <section page-list-body>

        <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Contabilizar o tempo</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of statusList">
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ BooleanToTextPipe(client.timer) }}</td>
                <td>
              
                    <button  title="editar" (click)="edit(client.id)"   class="btn btn-outline-primary m-1"   >
                      <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button   title="excluir" (click)="delete(client.id)"  class="btn btn-outline-danger m-1" >
                      <i class="bi bi-trash-fill"></i>
                    </button>

                    
                </td> 
              </tr>
            </tbody>
        </table>


     </section>
  


</app-default-page-layout>

