

        <app-default-page-layout 
          title="Projetos" 
          [pageForm]="projectForm" path="project" 
          (setList)="setList($event)" 
          [disableSaveBtn]="!projectForm.valid"
        >
     
             <section form-page-body>
            
                <form [formGroup]="projectForm" class="ng-untouched ng-pristine ng-valid">
                    <!-- {{projectForm.value.id_client?.id}} -->
                    <div class="row">
                        <!-- campos do formulario-->
                        <!-- <mat-form-field appearance="outline" class="col-md-6 pr-1">
                            <mat-label>Início</mat-label>
                            <input formControlName="start_date"  matInput placeholder="">
                            <mat-icon matSuffix>person_pin</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-md-6 pr-1">
                            <mat-label>Fim</mat-label>
                            <input formControlName="end_date"  matInput placeholder="">
                            <mat-icon matSuffix>person_pin</mat-icon>
                        </mat-form-field> -->

                        <div class="col-md-6">
                          <div class="d-flex align-items-center">
                           
                            <mat-form-field appearance="outline" class="me-1 col">
                              <mat-label>Início</mat-label>
                              <input id="start_date" matInput (dateChange)="DefaultPageLayoutComponent.validateDate($event,'date','start_date',startHourControl)" [matDatepicker]="pickerStart" mask="00/00/0000"  placeholder="00/00/0000">
                              <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
                              <mat-datepicker #pickerStart></mat-datepicker>
                            </mat-form-field>
                      
                            <mat-form-field appearance="outline">
                              <mat-label>Hora Início</mat-label>
                              <input [formControl]="startHourControl" (change)="DefaultPageLayoutComponent.validateDate($event,'hour','start_date',startHourControl)" matInput placeholder="00:00" mask="00:00" >
                            </mat-form-field>
                           
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="d-flex align-items-center">
                           
                            <mat-form-field appearance="outline" class="me-1 col">
                              <mat-label>Fim</mat-label>
                              <input matInput (dateChange)="DefaultPageLayoutComponent.validateDate($event,'date','end_date',endHourControl)" [matDatepicker]="pickerEnd"  mask="00/00/0000"  placeholder="00/00/0000">
                              <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                              <mat-datepicker #pickerEnd></mat-datepicker>
                            </mat-form-field>
                      
                            <mat-form-field appearance="outline">
                              <mat-label>Hora Fim</mat-label>
                              <input [formControl]="endHourControl" (change)="DefaultPageLayoutComponent.validateDate($event,'hour','end_date',endHourControl)" matInput placeholder="" placeholder="00:00" mask="00:00">
                            </mat-form-field>
                          </div>
                        </div>

                    </div>

                    <div class="row">
                        <!-- campos do formulario-->
                        <mat-form-field appearance="outline" class="col-md-6 pr-1">
                            <mat-label>Nome</mat-label>
                            <input formControlName="name"  matInput placeholder="">
                            <mat-icon matSuffix>person_pin</mat-icon>
                        </mat-form-field>
                        <!--formControlName="id_client"-->
                        
                        <mat-form-field appearance="outline"  class="col-md-6 pr-1">
                          <mat-label>Cliente</mat-label>
                          <input type="text"
                                 placeholder="Selecione um cliente"
                                 aria-label="Cliente"
                                 matInput
                                 [formControl]="clientControl"
                                 [matAutocomplete]="auto">

                          <mat-autocomplete  #auto="matAutocomplete" (optionSelected)='setIdClient($event.option.value)' [displayWith]="displayFn">
                            @for (option of filteredOptions | async; track option) {
                              <mat-option [value]="option">{{option.name}}</mat-option>
                            }
                          </mat-autocomplete>

                        </mat-form-field>

                    </div>

                    <div class="row">
                       
                        <mat-form-field appearance="outline" class="col-md-12 pr-1">
                            <mat-label>Descrição</mat-label>
                            <textarea formControlName="description"  matInput placeholder=""></textarea>
                            <mat-icon matSuffix>person_pin</mat-icon>
                        </mat-form-field>
                        
                    </div>
                </form>

             </section>


             <section page-list-body>
            
                <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Início</th>
                        <th scope="col">Final</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let list of projectList">
                        <td>{{ list.id }}</td>
                        <td>{{ list.name }}</td>
                        <td>{{ list.client.name }}</td>
                        <td>{{ list.description }}</td>
                        <td>{{ list.start_date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>{{ list.end_date | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>

                            <button  title="editar" (click)="edit(list.id)"   class="btn btn-outline-primary m-1"   >
                              <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button   title="excluir" (click)="delete(list.id)"  class="btn btn-outline-danger m-1" >
                              <i class="bi bi-trash-fill"></i>
                            </button>
                        </td> 
                      </tr>
                    </tbody>
                  </table>
             </section>

        </app-default-page-layout>
  