<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary my-sidebar">

    <div class="d-flex justify-content-center align-items-center">
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <!-- <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li> -->
          <li><a class="dropdown-item" href="/me">Meus dados</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" (click)="logout()">Sair</a></li>
        </ul>
      </div>
    </div>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">

      <li class="nav-item">
        <a href="/users" class="nav-link " aria-current="users">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Usuarios
        </a>
      </li>
      

      <li>
        <a href="/activity" class="nav-link link-body-emphasis ">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Atividades
        </a>
      </li>

      <li>
        <a href="/category" class="nav-link link-body-emphasis ">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Categorias
        </a>
      </li>
      <li>
        <a href="/client" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Clientes
        </a>
      </li>
      <li>
        <a href="/project" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Projetos
        </a>
      </li>
      
      <li>
        <a href="/status" class="nav-link link-body-emphasis ">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Status
        </a>
      </li>

      

      <!-- <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Gestão
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Clientes</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Projetos</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Atividades</a></li>
            
          </ul>
        </div>
      </li> -->

    </ul>

    

    
  </div>