  /*
   * Sidebar
   */
  @import "../../../../src/styles/variables.scss";



  .scrollarea {
    overflow-y: auto;
  }

  .my-sidebar{
    
    gap: 8px;
    flex-grow: 1;
    

    span{
      margin-right: 5px;
    }

    .nav{

      a{
          font-size: 16px;
          color: $secondary-color;
          text-align: start;
          text-transform: capitalize;
          margin: 2px 0;
          padding: 17px;
          
      }
  
      a.active{
        color: #fff;
      }
    }
    
  }