@import "ngx-toastr/toastr";

/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#watermark{
    display: none !important; //remove a propagando do plugin
}

.smart-kanban-column-header-label{
    .columnTimer{
         float: right;
    }
    .columnTimer:hover{
        cursor: pointer;
    }
}

.smart-kanban.smart-kanban-column-color .smart-kanban-column:not(.smart-kanban-add-new-column) {
    background: transparent !important;
    padding: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 0 2px rgba(0, 0, 0, .08), 0 3px 4px rgba(0, 0, 0, .03), 0 3px 16px rgba(0, 0, 0, .06);
    border-radius: 5px;
    box-sizing: border-box;
}